body {
	background-color: #333;
	color: #FAFAFA;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background-image:url("background-default.jpg");
	background-repeat:no-repeat;
	background-size:cover;
}

.header {
	background-image: url(https://upload.wikimedia.org/wikipedia/en/7/77/League_of_Legends_logo.png);
	width: 502px;
	height: 192px;
	display: block;
	margin: 0 auto;
	margin-top: 70px;
}

.news-container {
	color:#000;
	border-style:none;
}

.menu li a {
	color: inherit;
	font-weight: 700;
}

#home p {
	color: #333;
	font-weight: bold;
}

